<template name="editor">
  <div class="row">
    <div class="span10">
      <textarea class="field span10 notepad" rows="8" id="inputpad"></textarea>
    </div>
    <div class="span2">      
      <button class="btn btn-large pull-right">Save</button>
      <br/><br/><br/>
      <button class="btn btn-primary btn-large pull-right">Publish</button>
      <br/><br/><br/>
      <a class="pull-right" href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown help</a>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="preview" id="outputpad"></div>
    </div>
  </div>
</template>
